.nav {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  font-size: 1.2rem;
  ul {
    display: flex;
    gap: 2rem;
    padding: 0;
    justify-content: space-around;
    list-style: none;
    color: #000;

    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: gray;
      }
    }
  }
}
